<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
	<connectionStrings>
		<add name="HotelManagementEntities" connectionString="metadata=res://*/Model.HotelManagementDatabase.csdl|res://*/Model.HotelManagementDatabase.ssdl|res://*/Model.HotelManagementDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PS9RUBI;initial catalog=HotelManagement_OOP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>